<!-- index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpotiSyncs Playlist to MP3 converter</title>
    <link rel="stylesheet" href="/static/Styles/style.css">
</head>

<body>
    <h1>SpotiSync-Playlist to MP3 converter</h1>
    <form method="post" action="/download">
        <label for="playlist_url">Enter Playlist URL:</label>
        <input type="text" id="playlist_url" name="playlist_url" required>
        <br>
        <br>
        <button type="submit">Submit</button>
    </form>

</body>
</html>
