body{
    background-color: black;
}
h1{
    text-align: center;
    color: #fff;
}
form{
    margin-top: 250px;
    text-align: center;
}
label{
    color: #fff;
}
button{
    background-color: #fff;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}


button:hover {
    background-color: #45a049; 
}
